<div class="row">
    <div class="col-sm-6  col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" class="card-img-top img-responsive" alt="Gophic Game">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price pull-left">$12</div>
                    <div>
                        <a href="#" class="btn btn-primary pull-right">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" class="card-img-top img-responsive" alt="Gophic Game">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price pull-left">$12</div>
                    <div>
                        <a href="#" class="btn btn-primary pull-right">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" class="card-img-top img-responsive" alt="Gophic Game">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price pull-left">$12</div>
                    <div>
                        <a href="#" class="btn btn-primary pull-right">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" class="card-img-top img-responsive" alt="Gophic Game">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price pull-left">$12</div>
                    <div>
                        <a href="#" class="btn btn-primary pull-right">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
